.env
.venv

__pycache__
data
schema
conv

root-ca.pem

.DS_Store
.idea
.idea/LLM_RAG.iml
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/vcs.xml
.idea/workspace.xml

.data

./src/env/llma_env.py